/*
!/.drone.yml
!/Procfile
!/.env.properties.example
!/.eslintrc
!/.flowconfig
!/.gitignore
!/package.json
!/yarn.lock
!/readme.md
!/webpack.config.js
!/yarn.lock
!/flow-typed
!/sql
!/src
!/.dockerignore
!/docker-compose.yml
!/Dockerfile
